@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

.ftco-section {
    padding: 8em 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.img-about{
    background-image: url(../images/mountain_man.jpeg);
    height: 600px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img-about:before{
    position: absolute;
    bottom: 130px;
    left: -30px;
    width: 100%;
    height: 100px;
    content: '';
    background: #5de4ff;
    z-index: -1;
}

.img-about:after{
    position: absolute;
    bottom: 30px;
    left: -30px;
    width: 100%;
    height: 100px;
    content: '';
    background: rgb(224, 0, 224);
    z-index: -1;
}

.my-5 {
    flex-wrap: nowrap;
}

.nav-item {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item .nav-link {
    color: black!important;
    background: #fff;
    margin-right: 10px;

}

.nav-item .nav-link.active{
    color: white!important;
    background: #296063;
}

.fade:not(.show){
    display: none;
}

#py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.progress {
    height: 8px;
}

.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}

.progress-bar{
    background-color: #e04a63;
}

.nav .nav-pills{
    position: fixed;

}

.resume-wrap span.date{
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
  

}

.resume-wrap span.position{
    font-size: 13px;
    font-weight: 500;
    
    color: #000
}

.resume-wrap {
    padding: 0;
    position: relative;
    margin-bottom: 10px;
}

.resume-wrap h2{
    font-size: 20px!important;
    margin-bottom: 0;
}

.w-100 {
    margin-left: 10px;
}

.w-100 p{
    font-size: 14px;
    margin-bottom: 5px;
}

.link {
    margin-left: 5px;
    color: #296063;
}

.btn-light {
    position: absolute;
    left: 40%;
    background-color: #e04a63;
    border-color: #e04a63;
    color: white;
    text-transform: uppercase;
    
}