.navbar {
    text-align: center;
    background-color: rgba(0,0,0,.5)!important;
    transition: all .6s ease;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #252525!important;
    }
}

@media only screen and (max-width:768px){
    .navbar{
        background: #252525!important;
    }
}

.nav-link {
    color: rgba(255,255,255, .7)!important;
    font-family: 'Roboto', monospace;
    text-transform: uppercase;
    
}



.navbar-brand {
    font-family: 'Roboto', monospace;
}

.scroll{
    background-color: #252525!important;
    transition: background 0.5s ease-in-out;
    padding: 0 1rem;
}




.scroll .nav-link.active{
    background: #7448bb;
    color: white!important;
}

/* .scroll a.active::after{
     
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #e5eefc transparent transparent transparent;
} */
